:root {
    --size: 5px;
    --red: #;
    --yellow: #EEEE00;
    --green: #008000;
    --blue: #0000FF;
    --purple: #800080;
    --orange: #FF7F00;
    --pink: #FF00FF;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    overflow: hidden;
}

.con-con {
    margin-bottom: 100px;
}

.bg-line-con {
    background-color: #5C5F30;
}

.single-line {
    position: absolute;
    border-radius: 30px;
    opacity: 0.08;
    z-index: -2;
}


.con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p {
    padding: 0;
    margin: 0;
}

.result {
    font-size: 200px;
}

.canvas,
.canvas2,
.canvas3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 280px;
    height: 280px;
    margin: 20px;
}

.point {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    margin: auto;
    margin-top: 13%;
}

.pridiction {
    border: solid 1px #757575;
    width: 280px;
    height: 280px;
    margin: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
}


.top-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

.top-text div {
    margin-left: 20px;
}

.single-grid-puzzle,
.single-grid-answer,
.single-grid-pridiction {

    height: 100%;
    width: 100%;
    border: solid 1px #5C5F30;
    background-color: black;
}


.on {
    background-color: white;
}

.btn-con {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-inline: 20px;
}

.btns:hover {
    cursor: pointer;
    background-color: #b3b3b3;
}

.btns {
    border: none;
    padding-block: 5px;
    width: 100px;
}

.result-pro {
    font-size: 17px;
}









.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.blue {
    background-color: var(--blue);
}

.purple {
    background-color: var(--purple);
}

.orange {
    background-color: var(--orange);
}

.pink {
    background-color: var(--pink);
}

.white {
    background-color: white;
}